Flow 3.txt
[{"id":"501f51b1.3881e","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d161e885.5f76b8","type":"inject","z":"501f51b1.3881e","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":120,"wires":[["3b0a2f23.049d4"]]},{"id":"727fad1b.4524f4","type":"http request","z":"501f51b1.3881e","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DrjLWbAd/datapoints.csv","tls":"","proxy":"","authType":"","x":490,"y":180,"wires":[["448cf20.0a5951","67b529ce.027c88"]]},{"id":"3b0a2f23.049d4","type":"function","z":"501f51b1.3881e","name":"payload","func":"msg.headers={\n    deviceKey: \"I8hrPhRuzDZZSnYJ\"\n};\nmsg.payload= \"Temperature,,28\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["727fad1b.4524f4"]]},{"id":"448cf20.0a5951","type":"http response","z":"501f51b1.3881e","name":"","statusCode":"","headers":{},"x":670,"y":180,"wires":[]},{"id":"67b529ce.027c88","type":"debug","z":"501f51b1.3881e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":280,"wires":[]}]