Flow 1.txt
[{"id":"e3899050.fa4d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cd2f659c.31cca8","type":"rpi-gpio in","z":"e3899050.fa4d8","name":"","pin":"11","intype":"tri","debounce":"25","read":false,"x":200,"y":300,"wires":[["b21bfc84.ab8f4","7298e07a.c18dd"]]},{"id":"7298e07a.c18dd","type":"rpi-gpio out","z":"e3899050.fa4d8","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":520,"y":340,"wires":[]},{"id":"b21bfc84.ab8f4","type":"debug","z":"e3899050.fa4d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":160,"wires":[]}]