Flow 2.txt
[{"id":"1c2700c0.2841cf","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4387a3ed.96c32c","type":"inject","z":"1c2700c0.2841cf","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":300,"wires":[["36e920ab.84317"]]},{"id":"36e920ab.84317","type":"function","z":"1c2700c0.2841cf","name":"payload","func":"msg.headers={\n    devicekey: \"I8hrPhRuzDZZSnYJ\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":360,"wires":[["f729af94.04b52","c582a856.8d4788"]]},{"id":"f729af94.04b52","type":"http request","z":"1c2700c0.2841cf","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DrjLWbAd/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":490,"y":340,"wires":[[]]},{"id":"c582a856.8d4788","type":"debug","z":"1c2700c0.2841cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":440,"wires":[]}]