Node-Red.txt
[{"id":"e3899050.fa4d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1c2700c0.2841cf","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"501f51b1.3881e","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"cd2f659c.31cca8","type":"rpi-gpio in","z":"e3899050.fa4d8","name":"","pin":"11","intype":"tri","debounce":"25","read":false,"x":200,"y":300,"wires":[["b21bfc84.ab8f4","7298e07a.c18dd"]]},{"id":"7298e07a.c18dd","type":"rpi-gpio out","z":"e3899050.fa4d8","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":520,"y":340,"wires":[]},{"id":"b21bfc84.ab8f4","type":"debug","z":"e3899050.fa4d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":160,"wires":[]},{"id":"4387a3ed.96c32c","type":"inject","z":"1c2700c0.2841cf","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":300,"wires":[["36e920ab.84317"]]},{"id":"36e920ab.84317","type":"function","z":"1c2700c0.2841cf","name":"payload","func":"msg.headers={\n    devicekey: \"I8hrPhRuzDZZSnYJ\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":360,"wires":[["f729af94.04b52","c582a856.8d4788"]]},{"id":"f729af94.04b52","type":"http request","z":"1c2700c0.2841cf","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DrjLWbAd/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":490,"y":340,"wires":[[]]},{"id":"d161e885.5f76b8","type":"inject","z":"501f51b1.3881e","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":120,"wires":[["3b0a2f23.049d4"]]},{"id":"727fad1b.4524f4","type":"http request","z":"501f51b1.3881e","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DrjLWbAd/datapoints.csv","tls":"","proxy":"","authType":"","x":490,"y":180,"wires":[["448cf20.0a5951","67b529ce.027c88"]]},{"id":"3b0a2f23.049d4","type":"function","z":"501f51b1.3881e","name":"payload","func":"msg.headers={\n    deviceKey: \"I8hrPhRuzDZZSnYJ\"\n};\nmsg.payload= \"Temperature,,28\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["727fad1b.4524f4"]]},{"id":"448cf20.0a5951","type":"http response","z":"501f51b1.3881e","name":"","statusCode":"","headers":{},"x":670,"y":180,"wires":[]},{"id":"67b529ce.027c88","type":"debug","z":"501f51b1.3881e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":280,"wires":[]},{"id":"c582a856.8d4788","type":"debug","z":"1c2700c0.2841cf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":440,"wires":[]}]